<?xml version="1.0"?>
<config>
    <modules>
        <B24Chat_Integration>
            <version>1.0.1</version>
        </B24Chat_Integration>
    </modules>
    <global>
        <blocks>
            <b24chat_integration>
                <class>B24Chat_Integration_Block</class>
            </b24chat_integration>
        </blocks>
        <models>
            <b24chat_integration>
                <class>B24Chat_Integration_Model</class>
            </b24chat_integration>
        </models>
        <helpers>
            <b24chat_integration>
                <class>B24Chat_Integration_Helper</class>
            </b24chat_integration>
        </helpers>
        <events>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <b24chat_integration_observer>
                        <class>b24chat_integration/observer</class>
                        <method>sendEmail</method>
                    </b24chat_integration_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </global>
    <frontend>
        <translate>
            <modules>
                <B24Chat_Integration>
                    <files>
                        <default>b24chat/B24Chat_Integration.csv</default>
                    </files>
                </B24Chat_Integration>
            </modules>
        </translate>
        <layout>
            <updates>
                <b24chat_integration>
                    <file>b24chat/integration.xml</file>
                </b24chat_integration>
            </updates>
        </layout>
    </frontend>
    <default>
        <b24chat_integration>
            <general>
                <enabled>0</enabled>
                <token><![CDATA[]]></token>
                <api_url><![CDATA[https://b24chat.com]]></api_url>
            </general>
        </b24chat_integration>
    </default>
</config>
