<?xml version="1.0"?>
<config>
    <modules>
        <B24Chat_Integration>
            <version>1.2.3</version>
        </B24Chat_Integration>
    </modules>
    <global>
        <blocks>
            <b24chat_integration>
                <class>B24Chat_Integration_Block</class>
            </b24chat_integration>
        </blocks>
        <models>
            <b24chat_integration>
                <class>B24Chat_Integration_Model</class>
            </b24chat_integration>
        </models>
        <helpers>
            <b24chat_integration>
                <class>B24Chat_Integration_Helper</class>
            </b24chat_integration>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <B24Chat_Integration>
                    <files>
                        <default>b24chat/B24Chat_Integration.csv</default>
                    </files>
                </B24Chat_Integration>
            </modules>
        </translate>
        <layout>
            <updates>
                <b24chat_integration>
                    <file>b24chat/integration.xml</file>
                </b24chat_integration>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <B24Chat_Integration>
                    <files>
                        <default>b24chat/B24Chat_Integration.csv</default>
                    </files>
                </B24Chat_Integration>
            </modules>
        </translate>
    </adminhtml>
    <default>
        <b24chat_integration>
            <general>
                <enabled>0</enabled>
                <widget_enabled>1</widget_enabled>
                <analytics_enabled>1</analytics_enabled>
                <token><![CDATA[]]></token>
                <api_url><![CDATA[https://b24chat.com]]></api_url>
            </general>
            <cache_time>
                <widget>60</widget>
                <recommended>60</recommended>
                <interactive>180</interactive>
            </cache_time>
        </b24chat_integration>
    </default>
</config>
